@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.header_container {
  display: flex;
  justify-content: center;
  gap: 240px;
  align-items: center;
  padding-top: 10px;
}

.header_title h1 {
  font-weight: normal;
  font-size: 36px;
}

.header_subtitle {
  display: flex;
  justify-content: space-between;
}
.header_subtitle p {
  margin-top: -15px;
  font-size: 18px;
}

.header_contact {
  padding-top: 15px;
}

.header_contact_phone, .header_contact_email {
  display: flex;
  gap: 12px;
  font-size: 18px;
}

.header_contact_phone {
  margin-bottom: -20px;
}

.header_nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 40px;
}
.header_nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.range_service_container {
  display: flex;
  padding-top: 110px;
  justify-content: center;
  gap: 25px;
}

.range_service_text h1 {
  font-weight: 500;
  font-size: 60px;
  margin: 0;
}
.range_service_text p {
  font-weight: 300;
  font-size: 20px;
}

.range_service_img {
  display: grid;
  grid-template-columns: 333px 200px 200px 200px;
  gap: 10px;
}

.news_wrapper {
  padding-top: 130px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.news_block {
  display: grid;
  grid-template-columns: 120px 375px;
  grid-template-rows: 200px 200px 200px;
  gap: 10px;
}

.advantages_container h1 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 60px;
  margin: 0;
}

.advantages_text {
  display: grid;
  grid-template-columns: 249px 249px 249px 249px 249px;
  justify-content: center;
  padding-top: 20px;
  gap: 40px;
}
.advantages_text p {
  font-weight: 400;
  font-size: 22px;
}

.request_container h1 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 60px;
  margin: 0;
  margin-top: 70px;
  padding-bottom: 50px;
}

.request_form {
  justify-content: center;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 50px 50px;
  gap: 10px;
}
.request_form input {
  padding-left: 12px;
  font-size: 18px;
}

.request_form_quest textarea {
  width: 993px;
  height: 250px;
  padding-left: 12px;
  padding-top: 10px;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

.request_btn_send {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn_send {
  color: white;
  background: linear-gradient(to bottom, #60a2d3 0%, #4492cb 100%);
  border: none;
  width: 250px;
  height: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.btn_send:hover {
  background: #003366;
}

.footer_container {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;
}

.footer_block {
  display: flex;
  flex-direction: column;
}
.footer_block a {
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}
.footer_block p {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

.footer_block_contact {
  display: flex;
  gap: 10px;
}
.footer_block_contact p {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */